extends layout

block content
  if user
    h1.title-profile Welcome, #{user.name}
    
    div.form-container
      form(method='POST' action='')
        div.form-group
          label.text-infos(for='passcode') Enter the passcode to become PREMIUM
          input#passcode.form-control(
          type='text', 
          placeholder='Enter the passcode' 
          name='passcode' 
          required = 'true'
          )
        button.btn.btn-primary(type='submit') Submit


  else 
    div.text-white.welcome-txt Please sign-up before checking your profile page!
    div.profile-btns
        a.log-in-out-btn(href="/auth/log-in") Log-in
        a.log-in-out-btn(href="/auth/sign-up") Sign-in

  if (passcodeError)
    p #{passcodeError}