extends layout

block content
  h1= title
    div Add a new comment
    form.auth-form(action="/users/comment/add" method="POST")
      div.title-container
        label(for="messageTitle") Title:
        input#messageTitle(type="text" 
          name="messageTitle" 
          required="true" 
          maxLength="30"
        )
        label(for="messageText") Message:
        input#messageText(
          type="text" 
          name="messageText" 
          required="true" 
          maxLength="300"
        )
      button(type="submit") Submit Message    
