extends layout

block content
  div.form-container
    h1.title-form= title

    form(action="/users/comment/add" method="POST")
      div.form-group
        label.label-form(for="messageTitle") Title:
        input#messageTitle.form-control(type="text" 
          name="messageTitle" 
          required="true" 
          maxLength="30"
        )
        label.label-form(for="messageText") Message:
        input#messageText.form-control.text-message-height(
          type="text" 
          name="messageText" 
          required="true" 
          maxLength="300"
        )
      button.btn.btn-primary(type="submit") Submit Message    

