extends layout

block content

      if (user)
        div.homepage-banner
          div.left-hmp-banner
            h1.title-hmp=title 
            h3.heading-hmp Welcome back to the Club #{user.username} !
            div.heading-hmp  Below here, you can see all the comments posted by all our members. Feel free to share with them!
            if (user.memberStatus == false)
              h5.password-div Our password is 1234
            a.log-in-out-btn(href="/log-out") LOG OUT
          div.right-hmp-banner
              img.hmp-pic(src='/images/hmp-pic.jpg' height='90%')

        hr.hr-separate
        
        div.title Member's comments and ideas
        div.comment-list
          each message in messages
            div.message-container 
              div.message-first-line
                h4.message-title= message.title
                h5.message-author= message.user.name
              p.message-text= message.content 
              p.message-date= message.date


      else
        div.homepage-banner
          div.left-hmp-banner
            h1.title-hmp=title 
            h3.heading-hmp This club was created centuries ago to share thoughts and ideas about the society. Today, our goal still remains and keeps his doors open. Please feel free to log-in and join the club to share your thoughts.
            a.log-in-out-btn(href='/auth/log-in') Log-in
          div.right-hmp-banner
              img.hmp-pic(src='/images/hmp-pic.jpg' height='90%')

        hr.hr-separate

        div.title Member's comments and ideas
        div.comment-list
          each message in messages
            div.message-container 
              div.message-first-line
                h4.message-title= message.title
                h5.message-author Anonymous
              p.message-text= message.content 
              p.message-date= message.date

